div {
  display: inline;
}

p {
  display: inline;
}


.App {
  background-color: whitesmoke;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 5px solid black;  
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 90%;
  height :100%;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: calc(10px + 2vmin);
  outline: 10px outset gray;
  overflow: scroll;
  padding: 1%;
  width: 95%;
  height: 1200px;  
}

.btn-group button {
  background-color: rgb(255, 255, 255); /*background */
  border: 1px solid black;
  color: rgb(0, 0, 0);
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  float: left;
  height: auto;
  width: auto;
  display: inline-flex;
  align-items: center;
}


